.zodiacContainer {
  text-align: center;

  .zodiacTitle {
    font-size: 2rem;
    color: #fff;
  }
}

.zodiacText {
  line-height: 1.66rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #a196bc;
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 5rem;
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
  line-height: 5rem;
  span {
    color: #caaf68;
  }
}

.subtitle {
  color: #f3dd9070;
  text-align: center;
  margin: 0;
  padding: 0;
}