body {
  margin: 0;
  background: rgb(73, 44, 87);
  background: radial-gradient(
    circle,
    rgba(73, 44, 87, 1) 0%,
    rgba(19, 22, 44, 1) 50%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  color: white;
  font-family: "Raleway", sans-serif;
}

.buttonPrimary {
  background-color: #caaf68;
  border-radius: 16px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Raleway";
  transition: 0.2s ease-in;

  &:hover,
  &:active {
    background-color: #a18c56;
  }

  &:disabled{
    background-color: #938c78;
    cursor: default;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-datetime-edit {
  padding: 0.5rem;
}
::-webkit-datetime-edit-fields-wrapper {
  background: #303245;
}

.buttonDownload{
  max-width: 376px;
  margin: 20px 0;
}

.loaderContainer{
  width: 100px;
  margin: 0 auto;
}